<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.castillogym">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".MyFirebaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CastilloGym">
        <activity
            android:name=".UI.Reportes.RegistrarVentaActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Settings.Informacion"
            android:exported="true" />
        <activity
            android:name=".UI.Settings.Configuracion"
            android:exported="true" />
        <activity
            android:name=".UI.ViewItems.Inventario"
            android:exported="true" />
        <activity
            android:name=".UI.Settings.Reportar"
            android:exported="true" />
        <activity
            android:name=".UI.Settings.Cuenta"
            android:exported="true" />
        <activity
            android:name=".UI.Login.Registrar"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Login.Forgot"
            android:exported="true" />
        <activity
            android:name=".UI.Login.Login"
            android:exported="true" />
        <activity
            android:name=".UI.AddItems.AgregarUsuarioActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Reportes.VentaYReportesActivity"
            android:exported="true" />
        <activity
            android:name=".UI.ViewItems.UsuariosActivity"
            android:exported="true" />
        <activity
            android:name=".UI.ViewItems.VentaActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Reportes.ReportesActivity"
            android:exported="true" />
        <activity
            android:name=".UI.AddItems.EditarProducto"
            android:exported="true" />
        <activity
            android:name=".UI.AddItems.AgregarProducto"
            android:exported="true" />
        <activity
            android:name=".UI.Reportes.ReporteDeVentas"
            android:exported="true" />
        <activity
            android:name=".UI.AddItems.EditarUsuario"
            android:exported="true" />
        <activity
            android:name=".UI.AddItems.EditarVentas"
            android:exported="true" />
        <activity
            android:name=".MenuInicial"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>