<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.castillogym">

    <application
        android:name=".Model.MyFirebaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CastilloGym">
        <activity
            android:name=".Informacion"
            android:exported="true" />
        <activity
            android:name=".Configuracion"
            android:exported="true" />
        <activity
            android:name=".Inventario"
            android:exported="true" />
        <activity
            android:name=".NuevaCon"
            android:exported="true" />
        <activity
            android:name=".Reportar"
            android:exported="true" />
        <activity
            android:name=".Cuenta"
            android:exported="true" />
        <activity
            android:name=".Registrar"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Forgot"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".AgregarUsuarioActivity"
            android:exported="true" />
        <activity
            android:name=".VentaYReportesActivity"
            android:exported="true" />
        <activity
            android:name=".UsuariosActivity"
            android:exported="true" />
        <activity
            android:name=".VentaActivity"
            android:exported="true" />
        <activity
            android:name=".ReportesActivity"
            android:exported="true" />
        <activity android:name=".EditarProducto"
            android:exported="true" />
        <activity android:name=".AgregarProducto"
            android:exported="true" />
        <activity android:name=".InterfazQuemadores"
            android:exported="true" />
        <activity android:name=".InterfazProteinas"
            android:exported="true" />
        <activity android:name=".ReporteDeVentas"
            android:exported="true" />
        <activity android:name=".EditarUsuario"
            android:exported="true" />
        <activity android:name=".EditarVentas"
            android:exported="true" />
        <activity
            android:name=".MenuInicial"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>